@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,300);
.t-buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 2rem;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.t-button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: white;
  border-radius: 50%;
  border: none;
  box-shadow: 0 1px 0 #e4e4e4, 0 0 0 1rem #f1f1f1;
}
.t-button[class*="like"] {
  height: 6.5rem;
  width: 6.5rem;
  color: #4bdaa3;
}
.t-button.dislike {
  color: #fb5223;
}
.t-button.info {
  height: 4rem;
  width: 4rem;
  color: #2a67eb;
}

.t-app {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  background: white;
}

.t-header {
  font-size: 21px;
  padding: 1rem;
  color: #e8684d;
  border-bottom: 2px solid #e4e4e4;
}

.t-photo {
  height: 100%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
}

.t-info {
  display: block;
  width: 100%;
  padding: 1rem;
  font-size: 1.5rem;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: white;
}

.t-main {
  padding: 1rem;
}

.t-goats {
  height: 25rem;
}

.t-goat {
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
  border: 1px solid #d7d7d7;
  border-radius: 3px;
  overflow: hidden;
  -webkit-transform: translateY(0) scale(1);
      -ms-transform: translateY(0) scale(1);
          transform: translateY(0) scale(1);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
          transition: transform 0.3s ease-in-out;
}
.t-goat:nth-child(2) {
  -webkit-transform: translateY(0.5rem) scale(0.98);
      -ms-transform: translateY(0.5rem) scale(0.98);
          transform: translateY(0.5rem) scale(0.98);
  z-index: -1;
}
.t-goat:nth-child(3) {
  -webkit-transform: translateY(1rem) scale(0.96);
      -ms-transform: translateY(1rem) scale(0.96);
          transform: translateY(1rem) scale(0.96);
  z-index: -2;
}

*, *:before, *:after {
  box-sizing: border-box;
  position: relative;
}

body, html {
  background: #222;
  font-family: Source Sans Pro, sans-serif;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  display: block;
}

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
